/* 定义左到右的路由切换动画 */
::view-transition-old {
    animation: slideOutLeft 0.4s forwards;
  }
  
  ::view-transition-new {
    animation: slideInRight 0.4s forwards;
  }
  
  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  