<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <div class="container mt-4">
        <h3 class="text-center header mb-4">Forecast at {{ locationHeader }}</h3>
    </div>
<div *ngIf="showTable && res_sevenDay">
    <div class="d-flex justify-content-end align-items-center my-3">
        <span class="material-icons" (click) = "addFavorite()" >{{ isStarred ? 'star' : 'star_border' }}</span>
        <span class="button-text" (click) = "goToDetailDay_()" style="margin-left: 10px;margin-right:10px">Details</span>
        <span class="material-icons">chevron_right</span>
    </div>
    <div class="container">
        
        <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="dayview-tab" data-bs-toggle="tab" data-bs-target="#dayview-tab-pane" type="button" (click)="showChart = false;" role="tab"  aria-controls="dayview-tab-pane" aria-selected="true">Day view</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="area-tab" data-bs-toggle="tab" data-bs-target="#area-tab-pane" type="button" role="tab" (click)="this.showChart = true;createTempChart()" aria-controls="area-tab-pane" aria-selected="false">Daily Temp Chart</button>
                </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="metegram-tab" data-bs-toggle="tab" data-bs-target="#metegram-tab-pane" type="button" role="tab" (click)="this.showChart = true;parseYrData()" aria-controls="metegram-tab-pane" aria-selected="false">Meteogram</button>
            </li>
    
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="dayview-tab-pane" role="tabpanel" aria-labelledby="dayview-tab" tabindex="0">
                    <div class="card-header">
                        <div class="row font-weight-bold" style="font-size: 0.7em">
                            <div class="col-1">#</div>
                            <div class="col-3">Date</div>
                            <div class="col-2">Status</div>
                            <div class="col-2">Temp. High (°F)</div>
                            <div class="col-2">Temp. Low (°F)</div>
                            <div class="col-2">Wind Speed (mph)</div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item border-0 border-bottom" *ngFor="let day of sevenDay; let i = index">
                            <div class="row align-items-center data_">
                                <div class="col-1"><strong>{{i+1}}</strong></div>
                                <div class="col-3 date-link" (click) = "goToDetailDay(day)">{{day.date}}</div>
                                <div class="col-2">
                                    {{day.status}}<img [src]="day.img"/>
                                </div>
                                <div class="col-2">{{day.tempHigh}}</div>
                                <div class="col-2">{{day.tempLow}}</div>
                                <div class="col-2">{{day.windSpeed}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="area-tab-pane" role="tabpanel" aria-labelledby="area-tab" tabindex="0"><div id="chart"></div></div>
                <div class="tab-pane fade" id="metegram-tab-pane" role="tabpanel" aria-labelledby="metegram-tab" tabindex="0"><div id="chart2"></div></div>
            </div>
        </div>
  </div>


<router-outlet/>